<!-- <script type="text/javascript" href="{% static 'js/product.js}"%></script> -->
{% load static %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/product.js'%}"></script>
<h1>Products</h1>
<form action="/products/product_list" method="post" id="searchfrm">
    {% csrf_token %}
<input type="text" name="term" size="30" id= "search" placeholder="Search Product"> 
<!-- <input type="button" value="Search" id="searchBtn"> -->
</form>
<div class="product-data">
{% include "products/product_list_data.html" %}
</div>
<a href="{% url "product_new" %}", class="new-button">New</a>
<div id="show-frm"></div>

<script type="text/javascript">
$(document).ready(function() { 
    $('.new-button').click(function(e) {
        e.preventDefault();
        $('#show-frm').load("http://localhost:8000/products/new");
        $("#add-product-form").live("submit", function(){
            var serializedData = $(this).serialize();
        $.ajax({
            type: "POST",
            url: "/products/new",
            data: serializedData,
            dataType: "json",
            success: function(response) {
                //response = $.parseJSON(response);
                console.log(response);
                prodId = response.something;
                //console.log("everything worked!")
                $("#tab-list").find('tbody').append('<tr id="row_'+prodId+'"><td><a href="/products/edit/'+prodId+'"> '+$("#add-product-form").find("#id_name").val()+' </a></td><td> '+$("#add-product-form").find("#id_price").val()+' </td> <td> '+$("#add-product-form").find("#id_Quantity").val()+'</td><td><a delete-id="'+prodId+'" href="/products/delete/'+prodId+'", class="delete-button" >delete</a></td></tr>');
                $("#add-product-form")[0].reset();
            }
        });
        });
    });
    $('.delete-button').click(function(e) {
        e.preventDefault();
        deleted_id = $(this).attr('delete-id');
        $.ajax({
            type: "GET",
            url: $(this).attr('href'),
            dataType: "json",
            data: {
                   'csrfmiddlewaretoken':$( "#csrfmiddlewaretoken" ).val()
            },
            success: function(response) {
                console.log("#row_"+deleted_id);
                prodId = response.something;
                console.log("everything worked!")
                $("#row_"+deleted_id).remove();
            }
        });
    });

    $('.edit-button').click(function(e) {
        e.preventDefault();
        edit_id = $(this).attr('edit-id');
        $('#show-frm').load("http://localhost:8000/products/edit/"+edit_id);
        $("#add-product-form").live("submit", function(e){
            var serializedData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "/products/edit/"+edit_id,
                dataType: "html",
                data: serializedData,
                success: function(response) {
                    console.log(response);
                    console.log(edit_id);
                    $("#row_"+edit_id).replaceWith(response);
                    $("#add-product-form")[0].reset();
                }
            });
        });
    });

    $('#searchfrm').submit(function(e) {
        e.preventDefault();
        q = $('#search').val();
        $.ajax({
            type: 'POST',
            url: "/products/product_list_data",
            data: {
                   'term' :q
            },
            dataType: "html",
            success: function(response) {
                console.log(response);
                $(".product-data").html(response);
            },
            error: function(error){
                alert("error");
                return;
            }
        });
    });

    $("#next-page").live("click",function(){
        next_page = $(this).attr("href");
        $.ajax({
            type: "POST",
            url: "/products/product_list_demo",
            data: {
                   'term' :next_page
            },
            dataType: "html",
            success: function(response){
                $('.product-data').html(response);
            },
            error: function(error){
                alert("Error");
                return;
            }
        });
        return false;
    })

    $("#previous-page").live("click",function(){
        previous_page = $(this).attr("href");
        $.ajax({
            type: "POST",
            url: "/products/product_list_demo",
            data: {
                   'term' :previous_page
            },
            dataType: "html",
            success: function(response){
                $('.product-data').html(response);
            },
            error: function(error){
                alert("Error");
                return;
            }
        });
        return false;
    })

});
</script>