{% block content %}
{% load static %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/product.js'%}"></script>
<table id ="tab-list">
    <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th colspan="3"></th>
  </tr>
    {% for product in contacts %}
    <tr id="row_{{ product.id }}">
        <td><a href="{% url "product_edit" product.id %}", class="edit-button" edit-id="{{ product.id }}" >{{ product.name }} </a></td>
        <td id= "row_price_{{product.price}}">{{ product.price }}</td>
        <td id= "row_quantity_{{product.Quantity}}">{{ product.Quantity }}</td>
    <td><a href="{% url 'product_delete' product.id %}", class="delete-button" delete-id="{{ product.id }}" >delete</a></td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="{{ contacts.previous_page_number }}" id="previous-page">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="{{ contacts.next_page_number }}" id="next-page">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}