<h1>Products</h1>
<form action="/" method="post">
    {% csrf_token %}
<input type="text" name="term" size="30"> <input type="submit" value="Search">
</form>
<table id ="tab-list">
    <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th colspan="3"></th>
  </tr>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" href="{% static 'js/product.js"></script>
    {% for product in object_list %}
    <tr id="row_{{ product.id }}">
        <td><a href="{% url "product_edit" product.id %}", class="edit-button" edit-id="{{ product.id }}" >{{ product.name }} </a></td>
        <td id= "row_price_{{product.price}}">{{ product.price }}</td>
        <td id= "row_quantity_{{product.Quantity}}">{{ product.Quantity }}</td>

    <td><a href="{% url 'product_delete' product.id %}", class="delete-button" delete-id="{{ product.id }}" >delete</a></td>
    </tr>
    {% endfor %}
</ul>
</table>
<a href="{% url "product_new" %}", , class="new-button">New</a>

<div id="show-frm">

</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function() { 
    $('.new-button').click(function(e) {
        e.preventDefault();
        $('#show-frm').load("http://localhost:8000/products/new");
        $("#add-product-form").live("submit", function(){
            var serializedData = $(this).serialize();
        $.ajax({
            type: "POST",
            url: "/products/new",
            data: serializedData,
            dataType: "json",
            success: function(response) {
                //response = $.parseJSON(response);
                console.log(response);
                prodId = response.something;
                //console.log("everything worked!")
                $("#tab-list").find('tbody').append('<tr id="row_'+prodId+'"><td><a href="/products/edit/'+prodId+'"> '+$("#add-product-form").find("#id_name").val()+' </a></td><td> '+$("#add-product-form").find("#id_price").val()+' </td> <td> '+$("#add-product-form").find("#id_Quantity").val()+'</td><td><a delete-id="'+prodId+'" href="/products/delete/'+prodId+'", class="delete-button" >delete</a></td></tr>');
                $("#add-product-form")[0].reset();
            }
        });
        });
});
    $('.delete-button').click(function(e) {
        e.preventDefault();
        deleted_id = $(this).attr('delete-id');
        $.ajax({
            type: "GET",
            url: $(this).attr('href'),
            dataType: "json",
            data: {
                   'csrfmiddlewaretoken':$( "#csrfmiddlewaretoken" ).val()
            },
            success: function(response) {
                console.log("#row_"+deleted_id);
                prodId = response.something;
                console.log("everything worked!")
                $("#row_"+deleted_id).remove();
            }
        });
    });

    $('.edit-button').click(function(e) {
        e.preventDefault();
        edit_id = $(this).attr('edit-id');
        $('#show-frm').load("http://localhost:8000/products/edit/"+edit_id);
        $("#add-product-form").live("submit", function(e){
            var serializedData = $(this).serialize();
        $.ajax({
            type: "POST",
            url: "/products/edit/"+edit_id,
            dataType: "html",
            data: { 
                serializedData,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                console.log(response);
                console.log(edit_id);
                $("#row_"+edit_id).replaceWith(response);
                $("#add-product-form")[0].reset();
            }
        });
    });
    });

});
</script>